WS_Liquidacion/WebContent/wsdl/WSLiquidacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.edu.uniajc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.edu.uniajc" xmlns:intf="http://ws.edu.uniajc" xmlns:tns1="http://model.edu.uniajc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.edu.uniajc" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.edu.uniajc"/>
   <element name="liquidacion">
    <complexType>
     <sequence>
      <element name="P_ID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="liquidacionResponse">
    <complexType>
     <sequence>
      <element name="liquidacionReturn" type="tns1:Liquidacion"/>
     </sequence>
    </complexType>
   </element>
   <element name="LiquidacionJson">
    <complexType>
     <sequence>
      <element name="P_ID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="LiquidacionJsonResponse">
    <complexType>
     <sequence>
      <element name="LiquidacionJsonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.edu.uniajc" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Liquidacion">
    <sequence>
     <element name="CATEGORIA" nillable="true" type="xsd:string"/>
     <element name="COD_PROG" nillable="true" type="xsd:string"/>
     <element name="DESCUENTO" nillable="true" type="xsd:string"/>
     <element name="DOCUMENTO" nillable="true" type="xsd:string"/>
     <element name="ESTP_ID" nillable="true" type="xsd:string"/>
     <element name="FRANJA" nillable="true" type="xsd:string"/>
     <element name="LIQU_ESTADO" nillable="true" type="xsd:string"/>
     <element name="LIQU_ID" nillable="true" type="xsd:string"/>
     <element name="MAAC_ESTADO" nillable="true" type="xsd:string"/>
     <element name="NOMBRE" nillable="true" type="xsd:string"/>
     <element name="PEUN_ID" nillable="true" type="xsd:string"/>
     <element name="PEUN_MATRICULA" nillable="true" type="xsd:string"/>
     <element name="PROGRAMA" nillable="true" type="xsd:string"/>
     <element name="SEMESTRE" nillable="true" type="xsd:string"/>
     <element name="SITUACION" nillable="true" type="xsd:string"/>
     <element name="TIPO_LIQU" nillable="true" type="xsd:string"/>
     <element name="TOTAPAGAR" nillable="true" type="xsd:string"/>
     <element name="v_PAGADO" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="liquidacionResponse">

      <wsdl:part element="impl:liquidacionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="LiquidacionJsonResponse">

      <wsdl:part element="impl:LiquidacionJsonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="liquidacionRequest">

      <wsdl:part element="impl:liquidacion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="LiquidacionJsonRequest">

      <wsdl:part element="impl:LiquidacionJson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSLiquidacion">

      <wsdl:operation name="liquidacion">

         <wsdl:input message="impl:liquidacionRequest" name="liquidacionRequest">

       </wsdl:input>

         <wsdl:output message="impl:liquidacionResponse" name="liquidacionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="LiquidacionJson">

         <wsdl:input message="impl:LiquidacionJsonRequest" name="LiquidacionJsonRequest">

       </wsdl:input>

         <wsdl:output message="impl:LiquidacionJsonResponse" name="LiquidacionJsonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSLiquidacionSoapBinding" type="impl:WSLiquidacion">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="liquidacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="liquidacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="liquidacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="LiquidacionJson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="LiquidacionJsonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="LiquidacionJsonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSLiquidacionService">

      <wsdl:port binding="impl:WSLiquidacionSoapBinding" name="WSLiquidacion">

         <wsdlsoap:address location="http://localhost:13256/WS_Liquidacion/services/WSLiquidacion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
